*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.navbar{
    height:10vh;
    width:100vw;
    display: flex;
}
.logo{
    width:20vw;
    /* height:100%; */
    background:linear-gradient(to right bottom,aqua,white);
    
}
.logo a{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
}
.logo a img{
    height: auto;
    width: auto;
    padding: 5px;
}
.menu{
    width:80vw;
    display: flex;
}
.menu .menuicon{
    display:none;
}

.menu .menubar{
    width:100%;
    height: 100%;
    background:linear-gradient(to left bottom,aqua,white);
}
.menu .menubar ul {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu .menubar ul .underline_current a{
    text-decoration:underline red;
}
.menu .menubar ul li{
    list-style-type: none;
    padding-bottom: 2.5%;
    /* position: relative; */
}
.menu .menubar ul li a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    height: 10%;
    font-size: 2vw;
    position: absolute;
}

.menubar ul .submenu{
    display: none;
    position: absolute;
    left: 46%;
    top:10%;
    flex-direction: column;
    background:linear-gradient(to left top,rgb(121, 244, 244),white);
    max-width:10vw;
    height: auto;
    padding:30px 0;
    
}
.menu ul .submenu li{
   padding:15px 10px;

}
.menu .menubar ul li:hover .submenu{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
