*{
  margin:0;
  padding:0;
}
.header{
  height:10%;
  width:100%;
  backgroud-color:aqua;
  display:flex;
}
.logo{
  width:25%;
  background-color:white;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}
.logo img{
  height:auto;
  width:auto;
}
.menu{
  width:75%;
  background-color:aqua;
  display:flex;
}
.menubar{
  display:flex;
}
.menubar ul {
  text-decoration:none;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.menu ul li{
  list-style-type:none;
  padding-bottom:2.5vw;
}

