/* *{
  margin:0;
  padding:0;
}
body{
  background-color:aqua;
}
h1{
  color:red;
  background-color:yellow;
  font-size:30px;
}
.one{
  margin:10px;
  padding:10px;
  height:100px;
  width:100px;
  background-color:red;
  border:2px solid green;
}
.two{
  margin:10px;
  padding:10px;
  height:100px;
  width:100px;
  background-color:blue;
  border:2px solid green;
} */
/* parallel box css */
/* body{
  font-family:Arial,sans-serif;
  padding:20px;
  background-color:#f4f4f4;
}
.container-parallel{
  display:flex;
  gap:10px
  margin-bottom:40px;
}
.box{
  height:150px;
  width:150px;
  border:2px solid #333;
}
.green-box{
  background-color:green;
}
.red-box{
  background-color:red;
}
/* 3 nested div css */
/* .outer-div{
  width:400px;
  padding:20px;
  bakground-color:lightblue;
  border:2px solid black;
}
.mid-div{
  padding:20px;
  background-color:#ffa07a;
  border:2px solid black;
}
.inner-div{
  padding:20px;
  background-color:lightgreen;
  border:2px solid black;
}
.inner-div h1 {
  font-size:30px;
  margin:5px;
}
.heading-one{
  color:red;
}
.heading-two{
  color:blue;
}
.heading-three{
  color:green;
}
.heading-four{
  color:blueviolet;
}  */
 .container-parallel {
    /* Use Flexbox to put the divs in parallel */
    display: flex;
    gap: 10px; /* Space between the two divs */
    margin-bottom: 10px;
    width: 100%
}

.box {
    /* Same height and width */
    width: 50%;
    height: 450px;
    border: 1px solid #333;
}

.green-box {
    background-color: green;
}

.red-box {
    background-color: red;
    background-image:url(c.jpg) ;
}

@media (max-width: 576px){
  .container-parallel{
    flex-direction: column;
  }
  .green-box {
    width:100%;
}
.red-box {
    width:100%;
}
}
