/* *{
  margin:0;
  padding:0;
}
body{
  background-color:aqua;
}
h1{
  color:red;
  background-color:yellow;
  font-size:30px;
}
.one{
  margin:10px;
  padding:10px;
  height:100px;
  width:100px;
  background-color:red;
  border:2px solid green;
}
.two{
  margin:10px;
  padding:10px;
  height:100px;
  width:100px;
  background-color:blue;
  border:2px solid green;
} */
/* parallel box css */
body{
  font-family:Arial,sans-serif;
  padding:20px;
  background-color:#f4f4f4;
}
.container-parallel{
  display:flex;
  gap:10px
  margin-bottom:40px;
  align:center;
}
.box{
  height:150px;
  width:150px;
  border:2px solid #333;
}
.green-box{
  background-color:green;
}
.red-box{
  background-color:red;
}
