* {
  margin: 0;
  padding: 0;
font-family:monospace;
}

.header {
  width: 100%;
  height: 10%;
  display:flex;
background:linear-gradient(white,aqua);
}

.logo {
  width: 25%;
  height: 100%;
background:linear-gradient(white,aqua);
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background:linear-gradient(white,aqua);
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  position:relative;
  list-style: none;
  display:flex;
  justify-content:center;
  align-items:center;
}

.menubar ul li a {
  text-decoration: none;
  color: red;
  font-size: 1.5vw;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  position: static !important;
}
.menu .menubar ul .underline_current > a{
  text-decoration:underline red;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  top:100%;
  left:50%;
  transform:translateX(-50%);
  background:linear-gradient(to bottom,white,aqua);
  border:1px solid black;
  width:200px;
  height:auto;
  flex-direction:column;
  padding:5px 0;
  z-index: 10;
}

.menu .menubar ul li .submenu li {
  list-style: none;
  padding: 8px 5%;
  width:90%;
  display:flex;
  justify-content:center;
  align-items:center;
 
}

.menu .menubar ul li .submenu li a{
  font-size: 1vw;
  color: black;
  text-align:center;
  display:inline-block;
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis; 
}

.menubar ul li:hover .submenu {
  display: block;
}

@media (max-width:576px){
  .header{
    height:5%;
    background:linear-gradient(yellow,orange);
  }
  .header .logo{
    width:50%;
    background:linear-gradient(yellow,orange);
  }
  .header .logo a{
    width:50%;
    background:linear-gradient(yellow,orange);
    justify-content:none;
    padding-left:20%;
  }
  .header .menu{
    width:50%;
    background:linear-gradient(yellow,orange);
    
  }
  .header .menu .menubar{
    width:50%;
    height:100%;
     /* background:blue; */
    position:absolute;
    flex-direction:column; 
  }
  .header .menu .mobilebar{
    width:100%;
    height:100%;
  }

  .header .menu .mobilebar .hamburger{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    bckground:red;
  }
  .header .menu .mobilebar .hamburger span{
    display:block;
    width:20px;
    height:4px;
    background:white;
    border-radius:2px;
    box-shadow:0 7px 0 white,0 -7px 0 white; 
    z-index:100;
  }
  
  
  
}
