*{
  margin:0;
  padding:0;
}
.header{
  height:10%;
  width:100%;
  backgroud-color:aqua;
  display:flex;
}
.logo{
  width:25%;
  background-color:white;
}
.logo img{
  height:auto;
  width:auto;
}
.menu{
  width:75%;
  background-color:aqua;
  display:flex;
}
.menubar{
  display:flex;
}
.menubar ul li a{
  text-decoration:none;
}
