*{
  margin:0;
  padding:0;
  box-sizing:"border-box"
}

.navbar{
  height:100%;
  width:100%;
  background-color: blue;
}

@media (max-width:576px){
  .header {
    height: 7%;
    background-color: red;
  }
}
