*{
  margin:0;
  padding:0;
  box-sizing:"border-box"
}

.navbar{
  height:100px;
  width:100px;
  background-color: blue;
}

@media (max-width:576px){
  .header {
    height: 7%;
    background-color: red;
  }
}
